html {font-size 18px;}

.heading {
  display: flex;
  color: white;
  background-color: black;
  justify-content: center;
  }

.heading2 {width: 960px;}

.logo {
  diplay: inline-flex;
  }

.logo img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.heading p {
  display: inline-flex;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  font-family: Helvetica;
  font-size: 1rem;
}

.motorcycles {
  display: flex;
  background-image: url("C:/Users/Mary/test/git_practice/marypb.github.io/SecretAgentSupply/resources/images/moto.jpeg");
  background-position: center;
  width: 100%;
  height: 30rem;
  background-size: cover;
  justify-content: center;
  }

.container {
  width: 960px;
  display: flex;
  }

.newarrival {
  background-color: black;
  width: 29rem;
  margin-top: 11rem;
  height: 13rem;
  flex-direction: column;
  }

.newarrival h6, .newarrival p{
  color: white;
  flex-direction: column;
}

.newarrival h6 {
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
}

.newarrival p {
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
}

.text {
  margin-top: 2rem;
  margin-left: 3rem;
  }

.menu {
  background: firebrick;
  display: flex;
  justify-content: center;
  }

.menu ul {
    list-style: none;
    }

.list {
  display: flex;
  width: 960px;
  justify-content: space-between;
  }

li {
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  display: inline;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.featureditems {
  display: flex;
  justify-content: center;
  }

.container2 {
  display: flex;
  width: 960px;
  justify-content: space-between;
}

.pen, .watch, .glasses {
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 3rem;
  }

.pen img, .watch img, .glasses img {
  height: 9rem;
  margin: 2rem auto;
  display: block;
  width: 100%
  height: auto;
  /*padding-top: .5rem;*/
  }

  .glasses img {
    height: 50%;
    margin: 4rem auto;
    width: 50%;
    padding-top: .5rem;
    padding-bottom: .25rem;
  }

.text {
  background-color: black;
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  width: 100%;
  margin: 0;
  }

.information {
  display: flex;
  justify-content: center;
}

.container3 {
  display: flex;
  width: 960px;
  justify-content: space-between;
}

.location, .hours {
  display: flex;
  flex-direction: column;
  font-family: Helvetica;
  font-weight: bold;
  width: 35%;
  margin-top: 3rem;
}

.locationtitle, .hourstitle {
  color: white;
  background-color: black;
}

.locationtitle p, .hourstitle p {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer {
  background-color: black;
  display: flex;
  height: 10rem;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.container4 {
  width: 960px;
  justify-content: flex-start;
  color: white;
  font-family: Helvetica;
  font-weight: bold;
}
